<app-layout>
        <h5>Tabela de Pessoas</h5>
        <table border="1">
                <tr>
                        <th>Codigo</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Data de Nascimento</th>
                        <th>Endereço</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Está ativo?</th>
                        <th colspan="2">Ações</th>
                </tr>
                <tr *ngFor="let pessoa of listaPessoas">
                        <td>{{ pessoa.codigo }}</td>
                        <td>{{ pessoa.nome }}</td>
                        <td>{{ pessoa.telefone }}</td>
                        <td>{{ pessoa.dataNascimento | date:'dd/MM/yyyy' }}</td>
                        <td>{{ pessoa.bairro}}</td>
                        <td>{{ pessoa.endereco }}</td>
                        <td>{{ pessoa.cidade }}</td>
                        <td>{{ pessoa.estado }}</td>
                        <td *ngIf="pessoa.isAtivo">Sim</td>
                        <td *ngIf="!pessoa.isAtivo">Não</td>
                        <td><button (click)="editarPessoa(pessoa)">Editar</button></td>
                        <td><button (click)="removerPessoa(pessoa)">Excluir</button></td>

                </tr>
        </table>

</app-layout>
<app-pessoa-manter [pessoa]="pessoa" (pessoaEnviar)="adicionarPessoa($event)"></app-pessoa-manter>